{% extends 'base.html.twig' %}

{% block title %}Liste des patrons de crochet{% endblock %}

{% block body %}
    <h1>Liste des patrons de crochet</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Taille du Crochet</th>
                <th>Catégorie</th>
                <th>Langue</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for crochet_pattern in crochet_patterns %}
            <tr>
                <td>{{ crochet_pattern.id }}</td>
                <td>{{ crochet_pattern.Name }}</td>
                <td>{{ crochet_pattern.HookSize }}</td>
                <td>{{ crochet_pattern.Category }}</td>
                <td>{{ crochet_pattern.Language }}</td>
                <td>
                    <a href="{{ path('app_crochet_pattern_show', {'id': crochet_pattern.id}) }}">voir</a>
                    <a href="{{ path('app_crochet_pattern_edit', {'id': crochet_pattern.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
