{% extends 'base.html.twig' %}

{% block title %}CrochetPattern{% endblock %}

{% block body %}
    <h1>{{ crochet_pattern.Name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Taille du crochet</th>
                <td>{{ crochet_pattern.HookSize }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ crochet_pattern.Category }}</td>
            </tr>
            <tr>
                <th>Langue</th>
                <td>{{ crochet_pattern.Language }}</td>
            </tr>
            <tr>
                <th>Images</th>
                <td>
                    <ul>
                        {% for image in crochet_pattern.image %}
                            <div><img src="{{ asset(image) }}" alt="Image de patron" style="max-width: 100px;"/></div>
                        {% else %}
                            <div>Aucune image disponible</div>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

	<a href="{{ path('app_pattern_collection_show', {'id': crochet_pattern.patternCollection.id}) }}">Retour à la collection de patrons</a>
	<br> <br>
    <a href="{{ path('app_crochet_pattern_edit', {'id': crochet_pattern.id}) }}">Editer le patron</a>
    <br> <br>
    {{ include('crochet_pattern/_delete_form.html.twig') }}
{% endblock %}
