{% extends 'base.html.twig' %}


{% block title %} Patron de crochet n°{{CrochetPattern.id}}{% endblock %}

{% block body %}
    <h1>{{ CrochetPattern.Name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Taille du crochet</th>
                <td>{{ CrochetPattern.hookSize }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ CrochetPattern.category }}</td>
            </tr>
            <tr>
                <th>Langue</th>
                <td>{{ CrochetPattern.language }}</td>
            </tr>
            <tr>
                <th>Images</th>
                <td>
                    <ul>
                        {% for image in CrochetPattern.image %}
                            <div><img src="{{ asset(image) }}" alt="Image de patron" style="max-width: 100px;"/></div>
                        {% else %}
                            <div>Aucune image disponible</div>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    
	<a href="{{ path('app_portfolio_show', { 'id': Portfolio.id}) }}">Retour au portfolio</a>
    
{% endblock %} {# body #} 
